# git+git://github.com/timClicks/slate.git@e796bbb09ea5ab473aa33ce2984bf9fc2bebb64b#egg=slate #slate==0.5.2 (stable ==0.3)
# Avoid bug https://github.com/timClicks/slate/issues/38
setuptools==39.1.0 #slate>distribute dependenciy
numpy==1.15.0
pandas==0.23.1
sklearn==0.0
Keras==2.2.2
tensorflow==1.9.0
cucco==2.2.1
Flask==1.0.2
newspaper3k==0.2.2 #0.2.6
nltk==3.3.0
langdetect==1.0.7
geotext==0.4.0
pycountry==18.5.26
requests==2.20.0
gunicorn==19.9.0
utils==0.9.0
h5py==2.8.0 # to save and load ML models
html2text==2018.1.9
flask_cors==3.0.6

#Flask-RESTful==0.2.10
#Jinja2==2.7.1
#MarkupSafe==0.18
#Werkzeug==0.9.4
#aniso8601==0.82
#cssselect==0.9.1
#itsdangerous==0.23
#pytz==2013.9
#six==1.5.2
#html2text==3.200.3
#Django==1.11.1
#gunicorn==19.6.0
#psycopg2==2.6.2
#whitenoise==3.2

# nltk.txt
# nltk corpora files for heroku
# also done in __init__.py
# see https://devcenter.heroku.com/articles/python-nltk
